{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container main ">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto"></div>
            <div class="col-12 col-md-6 my-auto">
                <h1 class="homequote">
                    Empowering women to take the steps to fitness, friendship and happiness
                </h1>
            
            </div>
        </div>
    </div>
{% endblock %}