{% extends "base.html" %}
{% load static %}


<!-- Code used here is adapted from Code Institude's E-Commerce lesson.-->

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container main page-container">
       <div class="row justify-content-center"> 
            <div class="block col-sm-4 col-md-10">
                <h2 class="page-header mb-3">My Profile</h2>
            </div>
       </div>
        
        <div class="row justify-content-center"> 
            <div class="col-12 col-lg-6">
                <p class="text-muted">Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-grey rounded-0 text-uppercase float-left">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Order History</p>
                {{ orders }}
            </div>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
