<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap" >


html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: calc(90vh - 164px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #696969;
}

.blue {
    background-color: lightskyblue;
    min-height: 89vh;
}

.yellow {
    background-color: yellow;
}


.main {
    min-height: 87%;
    display: flex;
    flex-direction: column;
}

.update-link,
.remove-item {
    font-size: 0.7rem;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: none;
    z-index: -1;
    background-color: #fff;
}

.btn-grey {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    text-align: center;
    background: #696969;
    color: #fff !important; 
    font-size: 0.8rem;
    border-radius: 0;
    text-transform: uppercase;
}

.btn-grey:hover {
    background: #8b8b8b;
    color: #fff !important;
    transition: .1s ease-in-out;
}

.btn-blue {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    text-align: center;
    background: #2fbdb8;
    color: #fff !important; 
    font-size: 0.8rem;
    border-radius: 0;
    text-transform: uppercase;
}

.btn-blue:hover {
    background: #90d1da;
    color: #fff !important;
    transition: .1s ease-in-out;
}

.button {
    color: #ff0000 !important;
}

.text-white {
    color: #fff;
}

/* Nav Bar */

#girls-run-logo {
    max-width: 80px;
    height: auto;
}

#girls-run-logo-mobile {
    max-width: 70px;
    height: auto;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    color: #696969 !important;
}

.nav-link:hover {
    color: #2fbdb8 !important;
    transition: .1s ease-in-out;
}

.dropdown-item {
    font-size: 0.7rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    color: #696969 !important;
    text-align: left !important;
    text-transform: uppercase;
}

.active {
    font-size: 1rem !important;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400 !important;
    letter-spacing: 0.25rem !important;
    color: #2fbdb8 !important;
}

/* Home Page */

#introcontainer {
    height: 80vh;
    width: 100vw;

    position: relative;
    margin-top: -4.5rem;
    
    background: url('/media/homepage_background_tint.jpg') no-repeat center center; 
    background-size: cover;
    
    align-items: center;
    justify-content: center;
}


.homequote {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #fff;
}

.homequote2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

.flex-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Allauth forms */

.allauth-form-inner-content p{
    margin-top: 1.5rem;
    color: #696969;
}

.allauth-form-inner-content input {
    border-color: #696969;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #bababa;
}


.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 300;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #696969;
    border: 1px solid #696969;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #2fbdb8; /* text-info */
}

/* Pages */

.page-container {
    background-color: none;
    min-height: 80vh;
}

.mystory-container {
    background-color: #2fbdb8;
}

.what-container {
    background-color: #696969;
}

.what-panel {
    padding-left: 1rem;
    padding-right: 1rem;
}

.page-header {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #696969;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
}

.page-header-blue {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #2fbdb8;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
}

.page-header-indent {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #696969;
    font-size: 1.8rem;
    margin-left: 0.2rem;
}

.page-header-white {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.page-header-black {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #000;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.page-title {
    color: #2fbdb8;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-bottom: 0.8rem;
}

.page-title-black {
    color: #000;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-bottom: 0.8rem;
}

.page-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #696969;
    font-size: 1rem;
}

.white-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 1rem;
}

.subhead {
    color: #2fbdb8;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 0rem;
}


.mystory_image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.hannah_image {
    max-width: 100%;
    height: auto;
}

/* Shop main page */

.shop-container {
    background-color: #fff;
}

.product-name-shop  {
    color: #2fbdb8 !important;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    text-align: center;
    font-size: 1rem !important;
    padding-top: 1.1rem;
    padding-bottom: -2rem;
    text-transform: uppercase;
}

.product-price-shop {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    color: #696969;
    font-size: 0.9rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 0rem;
}

.edit-delete {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center !important; 
    text-decoration: none !important;
    color: #696969 !important;
    margin-bottom: 1rem;
}

.oswald-grey {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    color: #696969;
}

.oswald-blue {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    color: #2fbdb8;
}

.opensans-grey {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: none !important;
    color: #696969 !important;
}

/* Shop detail pages */

.product-name {
    color: #696969;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.product-name-blue {
    color: #2fbdb8;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.product-size-quantity {
    color: #696969;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.25rem;
}

.product-price {
    color: #2fbdb8;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-top: -1rem;
    letter-spacing: 0.25rem;
}

.product-details {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #696969;
}

.card-footer-white {
    background-color: #fff;
}

.checkout-background {
    background-color: #fff;
    min-height: 89vh;
}

.stripe-text {
    color: green;
}

/* Spinner */

#loading-overlay {
    width: 100%;
    height: 89%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #90d1da;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}

/* Herstories page */

.herstories-container {
    background-color: #fff;
    margin-bottom: 0.2rem;
}

.story-header {
    color: #696969;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.herstory_name {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    color: #fff;
    padding: 0.6rem 1rem 0rem 1rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}

.herstory_age {
    font-size: 0.9rem;
    letter-spacing: 0.25rem;
    color: #000;
    padding: 0rem 1rem;
}

.herstory_occupation {
    font-size: 0.9rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    color: #000;
    padding: 0rem 1rem;
    margin-bottom: 0.5rem;
}

.herstory_story {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: #fff;
    padding: 0rem 1rem;;
}

.herstory_box {
    background-color: #2fbdb8;
    height: 17rem;
    margin-bottom: 2rem;
}

/* Contact Us Page */

.contact-page {
    background: url('/media/contact_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.contact-textbox {
    background: #fff;
}

.contactbox {
    padding-top: 2.3rem;
    padding-bottom: 2.8rem;
}

.contactbox::after {
    content: "";
    background: #fff;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.contactbox p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #2fbdb8;
}

.contactbox h2 {
    color: #696969;
}

#btn-send {
    height: 1.3rem;
    width: 4rem;
    font-size: 0.85rem;
    background-color: #696969;
    border: #696969;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    text-align: center !important;
    text-decoration: none !important;
}

#btn-send:hover {
    text-decoration: none !important;
    background-color: #2fbdb8;
    color: #fff !important;
    transition: .1s ease-in-out;
}


/* Upcoming Run Page */

.run-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.runblock {
    background-color: #fff;
}

.run-date {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1.6rem;
    color: #696969;
    text-align: center;
    margin-bottom: 0.1rem;
    line-height: 110%;
}

.run-location {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    color: #2fbdb8;
    text-align: center;
    margin-bottom: 0.3rem;
}

.run-distance {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem;
    font-size: 0.8rem;
    color: #696969;
    text-align: center;
    margin-bottom: 1.2rem;
}

.run-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #696969;
    text-align: center;
}

/* Contact Page */

.full-width {
    width: 100%;
    height: calc(100vh - 164px);
}

/* Sign In & Out Pages */


.background-panel {
    background-color: #d9faf9;
    height: 89vh;
}

.signoutbox {
    background: #fff;
    padding-top: 2.3rem;
    padding-bottom: 2.8rem;
    text-align: center !important;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-up {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    color: #ff0000 !important;
}

.forgot {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1rem;
}

/* Footer */

footer {
    background-color: #fff;
    position: relative;
    padding-top: 1.6rem;
    margin-top: auto;
    text-align: center !important;
}

#copyright {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #696969;
    font-size: 0.7rem;
    letter-spacing: 0.25rem;
    text-align: center;
    margin-top: -1.8rem;
}

.sociallinks li a i {
    color: #696969;
    width: 40px;
    height: 40px;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: .25rem;
    text-align: center;
}

.sociallinks li a i:hover {
    color: #2fbdb8;
    transition: .1s ease-in-out;
    text-decoration: none !important;
}

/* Bootstrap toasts */

.message-container {
    background-color: pink;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

