html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: 	#696969;
    font-family: 'Merriweather', serif;
}

.main {
    min-height: 87%;
    display: flex;
    flex-direction: column;
}

/* Nav Bar */

.nav-link {
    font-size: .9rem;
    color: #696969 !important;
    text-align: right !important;
    font-weight: 900;
}

.nav-link:hover {
    color: #3297a8 !important;
    transition: .1s ease-in-out;
}

/* Home Page */

.homequote {
    font-size: 3.5rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Shop page */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

/* Pages */

.page-header {
    color: #696969;
    font-size: 2rem;
    font-weight: 900;
}

.page-title {
    color: #3297a8;
    font-size: 1.5rem;
    font-weight: 900;
}

.page-text {
    color: #696969;
    font-size: 0.8rem;
}

.mystory_image {
    max-width: 100%;
    height: auto;
}

/* Footer */

footer {
    background-color: #fff;
    position: relative;
    padding-top: 1.6rem;
    margin-top: auto;
    text-align: center !important;
}

#copyright {
    color: #696969;
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 0.1rem; 
    text-align: center;
    margin-top: -1.8rem;
}

.sociallinks li a i {
    color: #696969;
    width: 40px;
    height: 40px;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: .25rem;
    text-align: center;
}

.sociallinks li a i:hover {
    color: #3297a8;
    transition: .1s ease-in-out;
    text-decoration: none !important;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

