<div class="container-fluid" id="mystory-container">
	<div class="row justify-content-center">
		<div class="block col-sm-8 col-md-10 col-lg-8">
			<h2 class="page-header-white mb-3">My Story </h2>
		</div>
	</div>

	<div class="row justify-content-center flex-column-reverse flex-md-row">
		<div class="col-sm-8 col-md-5 col-lg-4">
			<h4 class="page-title-grey">How I found running, and myself</h4>

			<p class="white-text">
				I started this group out of a desire to help women like me start
				running and discover the benefits that it can bring. My mission is to provide
				a group that is based on women supporting and empowering each other.
				I believe that it should be fun and encouraging, so women can
				relax and push themselves to do more than they believed they could.
			</p>
			<p class="white-text">
				All our runs are designed around being social, supportive,
				inclusive and suitable for all runners. I’ve found some great
				local routes around some of Sussex’s most beautiful and interesting locations.
			</p>
			<p class="white-text">
				Please sign up to our membership to access special
				coaching and nutrition
				advice and bespoke plans to help you get the best out of yourself.
			</p>
			<p class="white-text">
				I hope to see you soon
			</p>

			<div class="col-5">
				<img src="{{MEDIA_URL}}girlsrun_hannah_grey.png" id="hannah-name" alt="Hannah Roberts">
            </div>
				<div class="text-center">
					<a href="{% url 'contact' %}" class="btn" id="btn-grey-mystory">
						<span>GET IN TOUCH</span>
					</a>
				</div>
			</div>

			<div class="col-sm-8 col-md-5 col-lg-4">
				<img src="{{MEDIA_URL}}mystory.jpg" class="image" alt="My Story">
            </div>
			</div>
		</div>