<div class="container-fluid what-container">
	<div class="row justify-content-center ">
		<div class="block col-sm-8 col-md-10 col-lg-8">
			<h2 class="page-header-white mb-3">What we do </h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="block col-sm-8 col-md-5 col-lg-4 what-panel">
			<h4 class="page-title">GROUP RUNS</h4>
			<p class="white-text">Girls on the run offers women to take part in women only runs 
            around brighton and Susex. We plan the routes to take in some of the most beautiful 
            landscapes and locations that our area has to offer. All our runs are suitable for 
            runners of all abilities. We aim to be inclusive, supportive and social. 
            Join us on one of our runs and find out the massive benefits of running with a group</p>
			<br>
			<div class="text-center">
				<a href="{% url 'event' %}" class="btn btn-blue">
					<span>FIND OUT MORE</span>
				</a>
				<br><br>
            </div>
			</div>
			<div class="block col-sm-8 col-md-5 col-lg-4 what-panel">
				<h4 class="page-title">MEMBER EXTRAS</h4>
				<p class="white-text">Our memembers enjoy a wide range of advice, from starting as a non-runner to
					experienced veterans. On registering on this website, you'll gain access to all the professional
					advice you need. From choosing kit to helping your body to take you further. We all need a bit of a
					helping hand sometimes. You can also sign up for bespoke coaching and nutrition plans with
					one-on-one service.</p>
				<br>
				<div class="text-center">
					<a href="{% url 'account_signup' %}" class="btn btn-blue">
						<span>SIGN UP</span>
					</a>
					<br><br>
            </div>
				</div>
			</div>
		</div>