{% load static %}

<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	{% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

	{% block extra_meta %}
	{% endblock %}

	<!-- Bootstrap CSS -->
	{% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

	{% block extra_css%}
	{% endblock %}

	{% block corejs %}
	<script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
	{% endblock %}

	{% block extrajs %}
	{% endblock %}

	<title>Girls On The Run {% block extra_title %}{% endblock %}</title>
</head>

<body>
	<header class="container-fluid fixed-top">

		<div class="row bg-white">
			<nav class="navbar navbar-expand-lg navbar-light w-100">
				<button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" 
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
				{% include 'includes/mobile-top-header.html' %}
				{% include 'includes/main-nav.html' %}
			</nav>
		</div>
	</header>

	{% if messages %}
	<div class="message-container">
		{% for message in messages %}
		{% with message.level as level %}
		{% if level == 40 %}
		{% include 'includes/toasts/toast_error.html' %}
		{% elif level == 30 %}
		{% include 'includes/toasts/toast_warning.html' %}
		{% elif level == 25 %}
		{% include 'includes/toasts/toast_success.html' %}
		{% else %}
		{% include 'includes/toasts/toast_info.html' %}
		{% endif %}
		{% endwith %}
		{% endfor %}
	</div>
	{% endif %}

	{% block page_header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block postloadjs %}
	<script type="text/javascript">
		$('.toast').toast('show');
	</script>
	{% endblock %}

</body>

{% if request.resolver_match.url_name == 'home' %}
<div class="container-fluid what-container"> 
       <div class="row justify-content-center "> 
            <div class="block col-sm-8 col-md-10 col-lg-8">
                <h2 class="page-header-white mb-3">What we do </h2>
            </div>
       </div>
        <div class="row justify-content-center"> 
            <div class="block col-sm-8 col-md-5 col-lg-4 what-panel">
                <h4 class="page-title">GROUP RUNS</h4>
                <p class="white-text">Girls on the run offers women to take part in women only runs around brighton and Susex. We plan the routes to take in some of the most beautiful landscapes and locations that our area has to offer. All our runs are suitable for runners of all abilities. We aim to be inclusive, supportive and social. Join us on one of our runs and find out the massive benefits of running with a group.</p>
                <br>
			<div class="text-center">
                <a href="{% url 'event' %}" class="btn btn-blue">
                    <span>FIND OUT MORE</span>
                </a>
                <br><br>
            </div>
            </div>
            <div class="block col-sm-8 col-md-5 col-lg-4 what-panel">
                <h4 class="page-title">ADVICE</h4>
                <p class="white-text">Our memembers enjoy a wide range of advice, from starting as a non-runner through to experienced veterans. On registering on this website, you'll gain access to all the profeesional advice you need. From choosing kit, eating right to helping your body to take you further. We all need a bit of a helping hand sometimes. You can also sign up for bespoke coaching and nutrition plans with one-on-one service.</p>
                <br>
                <div class="text-center">
                <a href="{% url 'account_signup' %}" class="btn btn-blue">
                    <span>SIGN UP</span>
                </a>
                <br><br>
            </div>
            </div>
        </div>
</div>

    <div class="container-fluid mystory-container">    
       <div class="row justify-content-center"> 
            <div class="block col-sm-8 col-md-10 col-lg-8">
                <h2 class="page-header-white mb-3">My Story </h2>
            </div>
       </div>
        
        <div class="row justify-content-center flex-column-reverse flex-md-row"> 
            <div class="col-sm-8 col-md-5 col-lg-4">
                <h4 class="page-title-black">How I found running, and myself</h4>
                
                <p class="white-text">I started this group out of a desire to help women 
                like me start running and 
                discover the benefits that it can bring. My mission is to provide a group 
                that is based on women supporting and empowering each other. 
                I believe that it should be fun and encouraging, so women can 
                relax and push themselves to do more than they believed they could.</p>
                <p class="white-text">All our runs are designed around being social, supportive, inclusive and 
                suitable for all runners. I’ve found some great local routes taking us 
                to some of Sussex’s most beautiful and interesting locations.</p>
                <p class="white-text">Please sign up to our membership to access special 
                coaching and nutrition 
                advice and bespoke plans to help you get the best out of yourself.</p>
                <p class="white-text">I hope to see you soon</p>

            <div class="col-5">
               <img src="{{MEDIA_URL}}girlsrun_hannah_black.png" class="hannah_image" alt="Hannah Roberts">
            </div>
            <br>
			<div class="text-center">
                <a href="{% url 'contact' %}" class="btn btn-grey">
                    <span>GET IN TOUCH</span>
                </a>
                <br><br>
            </div>
            </div>
        
            <div class="col-sm-8 col-md-5 col-lg-4">
               <img src="{{MEDIA_URL}}mystory.jpg" class="mystory_image" alt="My Story">
            </div>
        </div>
        </div>
{% endif %}


<div class="row">
	<div class="col">
		{% include 'includes/footer.html' %}
	</div>
</div>

</html>