{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{MEDIA_URL}}apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{MEDIA_URL}}favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{MEDIA_URL}}favicon-16x16.png">
	<link rel="manifest" href="{{MEDIA_URL}}site.webmanifest">

	<!-- Required meta tags -->
	{% block meta %}
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endblock %}

	{% block extra_meta %}
	{% endblock %}

	<!-- Bootstrap CSS -->
	{% block corecss %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}

	{% block extra_css%}
	{% endblock %}



	<title>Girls On The Run {% block extra_title %}{% endblock %}</title>
</head>

<body>
	<header class="container-fluid fixed-top">
		<div class="row bg-white">
			<nav class="navbar navbar-expand-lg navbar-light w-100">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
				{% include 'includes/mobile-top-header.html' %}
				{% include 'includes/main-nav.html' %}

			</nav>
		</div>
	</header>

	{% if messages %}
	<div class="message-container">
		{% for message in messages %}
		{% with message.level as level %}
		{% if level == 40 %}
		{% include 'includes/toasts/toast_error.html' %}
		{% elif level == 30 %}
		{% include 'includes/toasts/toast_warning.html' %}
		{% elif level == 25 %}
		{% include 'includes/toasts/toast_success.html' %}
		{% else %}
		{% include 'includes/toasts/toast_info.html' %}
		{% endif %}
		{% endwith %}
		{% endfor %}
	</div>
	{% endif %}

	{% block page_header %}
	{% endblock %}

	{% block content %}
	{% endblock %}


	{% if request.resolver_match.url_name == 'home' %}
	<div class="row">
		<div class="col">
			{% include 'includes/what-do.html' %}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{% include 'includes/my-story.html' %}
		</div>
	</div>

	{% endif %}

	<div class="row">
		<div class="col">
			{% include 'includes/footer.html' %}
		</div>
	</div>

	{% block corejs %}
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
		integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
		crossorigin="anonymous" />

	<!-- JQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
		crossorigin="anonymous"></script>

	<!-- Popper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"
		integrity="sha512-53CQcu9ciJDlqhK7UD8dZZ+TF2PFGZrOngEYM/8qucuQba+a+BXOIRsp9PoMNJI3ZeLMVNIxIfZLbG/CdHI5PA=="
		crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ=="
		crossorigin="anonymous"></script>

	<!-- Stripe -->
	<script src="https://js.stripe.com/v3/"></script>
	{% endblock %}


	<!-- EmailJS Script -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
	</script>
	<script type="text/javascript">
		(function(){
            emailjs.init("user_VseKhIfOrj6S2zbWelHXK");
        })();
	</script>

	{% block extrajs %}
	{% endblock %}

	{% block postloadjs %}
	<script src="{% static 'js/app.js' %}"></script>
	{% endblock %}

</body>

</html>