{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="contact-page"></div>
<div class="container main page-container">
	<div class="row justify-content-center">
		<div class="contactbox col-10 mt-5">
			<div class="row justify-content-center">
				<div class="block col-sm-4 col-md-10">
					<h2 class="page-header mb-3">Contact Us</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10">
					<p id="contact-message">please feel free to get in touch.
                    I'd love to hear from you!</p>
				</div>
			</div>

			<form id="contact-us-form" method="post" action="contact.php" role="form" onsubmit="return sendMail(this);">
                {% csrf_token %}
				<div class="row justify-content-center">
					<div class="center-form col-sm-12 col-md-10">
						<form>
							<input type="text" name="name" id="fullname" class="form-control"
                        placeholder="What's your name?" required />
							<br>
							<input type="text" name="email" id="emailaddress" class="form-control"
                        placeholder="What's your email?" required />
							<br>
							<textarea rows="5" name="getintouch" id="getintouch" class="form-control"
                        placeholder="What's on your mind?" required></textarea>
							<br>
							<div class="text-center">
								<a href="{% url 'contact' %}" class="btn btn-grey">
									<span>SEND</span>
								</a>
								<br><br>
                            </div>
                            <div class="text-center">
								<input type="submit" />
								<br><br>
                            </div>
						</form>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

<!-- EmailJS Script-->
{% block postloadjs %}
<script src="{% static 'js/sendEmail.js' %}"></script>
{% endblock %}
