{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div id="contact-page"></div>
<div class="container main page-container">
	<div class="row justify-content-center">
		<div class="contactbox col-10 mt-5">
			<div class="row justify-content-center">
				<div class="block col-sm-4 col-md-10">
					<h2 class="page-header mb-3">Contact Us</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10">
					<p id="contact-message">Please feel free to get in touch.
                    I'd love to hear from you! <strong>Hannah x</strong></p>
				</div>
			</div>

				<div class="row justify-content-center">
					<div class="center-form col-sm-12 col-md-10">
	
                        <form onsubmit="return sendMail(this);">
                        {% csrf_token %}
                            <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required/>
                            <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
                            <textarea rows="5" name="message" class="form-control" id="message" placeholder="What's on your mind?" required></textarea>
                            <div class="text-center">
								<button type="submit" class="btn" id="btn-grey-contact">SEND</button>
                            </div>
                        </form>
					</div>
				</div>
		</div>
	</div>
</div>


{% endblock %}

<!-- EmailJS Script-->
{% block postloadjs %}
<script src="{% static 'js/sendEmail.js' %}"></script>
{% endblock %}
