{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container main page-container">
       <div class="row justify-content-center"> 
            <div class="block col-sm-4 col-md-10">
                <h2 class="page-header mb-3">Coaching</h2>
            </div>
       </div>
        
        <div class="row justify-content-center"> 
            <div class="col-sm-8 col-md-5">
                <h4 class="page-title">Get the training you need</h4>
                <p class="page-text">Mauris. Et curae; est commodo Cum accumsan lacus lobortis malesuada porttitor odio condimentum urna taciti pulvinar at dui parturient auctor suscipit. Taciti.<br><br>
                Nunc at, placerat taciti velit aptent sapien etiam consequat elementum bibendum orci cum accumsan imperdiet duis, sociosqu elementum ridiculus parturient velit mus class litora dui consequat tempus vivamus imperdiet ornare penatibus suscipit pulvinar, velit. Aliquet eleifend phasellus mollis tellus ligula donec.</p>
            </div>
        
            <div class="col-sm-8 col-md-5">
               <img src="/media/coaching.jpg" class="mystory_image" alt="Coaching">
            </div>
        </div>
    </div>
{% endblock %}