{% extends "base.html" %}
{% load static %}

<!-- Code used here is adapted from Code Institude's E-Commerce lesson. -->
{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container main page-container">
	<div class="row justify-content-center">
		<div class="block col-sm-4 col-md-10">
			<h2 class="page-header mb-3">Shopping</h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-sm-8 col-md-10">
			<div class="row">
				{% for product in products %}
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="card h-100 border-0 mt-3">
						{% if product.image %}
						<a href="{% url 'product_detail' product.id %}">
							<img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
							{% else %}
							<a href="{% url 'product_detail' product.id %}">
								<img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
								{% endif %}
								<div class="card-footer-white">
									<div class="row">
										<div class="col">
											<p class="product-name-shop">{{ product.name }}</p>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<p class="product-price-shop">£{{ product.price }}</p>
										</div>
									</div>
									{% if request.user.is_superuser %}
									<div class="edit-delete justify-content-center">
										<small>
                                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
									</div>
									{% endif %}
								</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
